<ion-view title="1° Año" id="page8" style="background-color:#0082D8;">
  <ion-content padding="true" style="background: url(img/Xy4LJLQOQXiDB942dVV6_Splash20App20.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="1AO-list95">
      <ion-item class="item-divider" id="1AO-list-item-divider2"> Anuales</ion-item>
    </ion-list>
    <ion-list id="1AO-list96">
      <ion-item class="item-icon-left dark" id="1AO-list-item26" ui-sref="trabajoSocialUNLaR.introducciNAlTrabajoSocial()">
        <i class="icon ion-university"></i>Introducción al Trabajo Social</ion-item>
    </ion-list>
    <ion-list id="1AO-list97">
      <ion-item class="item-icon-left dark" id="1AO-list-item37" ui-sref="trabajoSocialUNLaR.metodologADeLaInvestigaciNSocialI()">
        <i class="icon ion-university"></i>Metodología de la investigación Social I</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="1AO-list98">
      <ion-item class="item-divider" id="1AO-list-item-divider4"> 1° Cuatrimestre</ion-item>
      <ion-item class="item-icon-left dark" id="1AO-list-item40" ui-sref="trabajoSocialUNLaR.fundamentosSociolGicosI()">
        <i class="icon ion-university"></i>Fundamentos Sociológicos I</ion-item>
    </ion-list>
    <ion-list id="1AO-list99">
      <ion-item class="item-icon-left dark" id="1AO-list-item41" ui-sref="trabajoSocialUNLaR.antropologACulturalYSocial()">
        <i class="icon ion-university"></i>Antropología Cultural y Social</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="1AO-list94">
      <ion-item class="item-divider" id="1AO-list-item-divider3"> 2° Cuatrimestre</ion-item>
      <ion-item class="item-icon-left dark" id="1AO-list-item43" ui-sref="trabajoSocialUNLaR.fundamentosPsicolGicosI()">
        <i class="icon ion-university"></i>Fundamentos Psicológicos I</ion-item>
      <ion-item class="item-icon-left dark" id="1AO-list-item48" ui-sref="trabajoSocialUNLaR.fundamentosDeLaSaludAplicados()">
        <i class="icon ion-university"></i>Fundamentos de la Salud Aplicados al Trabajo Social</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
  </ion-content>
</ion-view>