<ion-view title="2° Año" id="page9" style="background-color:#0082D8;">
  <ion-content padding="true" style="background: url(img/Xy4LJLQOQXiDB942dVV6_Splash20App20.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="2AO-list74">
      <ion-item class="item-divider" id="2AO-list-item-divider5"> Anuales</ion-item>
      <ion-item class="item-icon-left dark" id="2AO-list-item29" ui-sref="trabajoSocialUNLaR.trabajoSocialPersonalizadoYFamiliar()">
        <i class="icon ion-university"></i>Trabajo Social Personalizado y Familiar</ion-item>
      <ion-item class="item-icon-left dark" id="2AO-list-item30" ui-sref="trabajoSocialUNLaR.metodologADeLaInvestigaciNSocialII()">
        <i class="icon ion-university"></i>Metodología de la investigación Social II</ion-item>
      <ion-item class="item-icon-left dark" id="2AO-list-item31" ui-sref="trabajoSocialUNLaR.expresiNEscritaYOral()">
        <i class="icon ion-university"></i>Expresión Escrita y Oral</ion-item>
    </ion-list>
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="2AO-list100">
      <ion-item class="item-divider" id="2AO-list-item-divider7"> 1° Cuatrimestre</ion-item>
      <ion-item class="item-icon-left dark" id="2AO-list-item49" ui-sref="trabajoSocialUNLaR.camposProfesionales()">
        <i class="icon ion-university"></i>Campos Profesionales</ion-item>
      <ion-item class="item-icon-left dark" id="2AO-list-item32" ui-sref="trabajoSocialUNLaR.fundamentosSocioJurDicosAplicados()">
        <i class="icon ion-university"></i>Fundamentos Socio-Jurídicos aplicados al Trabajo Social</ion-item>
    </ion-list>
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="2AO-list77">
      <ion-item class="item-divider" id="2AO-list-item-divider6"> 2° Cuatrimestre</ion-item>
    </ion-list>
    <ion-list id="2AO-list8">
      <ion-item class="item-icon-left dark" id="2AO-list-item50" ui-sref="trabajoSocialUNLaR.supervisiNEnTrabajoSocial()">
        <i class="icon ion-university"></i>Supervisión en Trabajo Social</ion-item>
      <ion-item class="item-icon-left dark" id="2AO-list-item51" ui-sref="trabajoSocialUNLaR.fundamentosSociolGicosII()">
        <i class="icon ion-university"></i>Fundamentos Sociológicos II</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
  </ion-content>
</ion-view>