<ion-view title="4° Año" id="page42" style="background-color:#0082D8;">
  <ion-content padding="true" style="background: url(img/Xy4LJLQOQXiDB942dVV6_Splash20App20.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="4AO-list107">
      <ion-item class="item-divider" id="4AO-list-item-divider11"> Anuales</ion-item>
    </ion-list>
    <ion-list id="4AO-list109">
      <ion-item class="item-icon-left dark" id="4AO-list-item198" ui-sref="trabajoSocialUNLaR.trabajoSocialComunitarioYDesarrolloLocal()">
        <i class="icon ion-university"></i>Trabajo Social Comunitario y Desarrollo Local</ion-item>
    </ion-list>
    <ion-list id="4AO-list110">
      <ion-item class="item-icon-left dark" id="4AO-list-item199" ui-sref="trabajoSocialUNLaR.prCticaPreProfesionalII()">
        <i class="icon ion-university"></i>Práctica Pre-Profesional II</ion-item>
    </ion-list>
    <ion-list id="4AO-list111">
      <ion-item class="item-icon-left dark" id="4AO-list-item201" ui-sref="trabajoSocialUNLaR.planificaciNPolTicasSocialesYGestiNSocial()">
        <i class="icon ion-university"></i>Planificación, Políticas Sociales y Gestión Social</ion-item>
    </ion-list>
    <ion-list id="4AO-list112">
      <ion-item class="item-icon-left dark" id="4AO-list-item202" ui-sref="trabajoSocialUNLaR.informTica()">
        <i class="icon ion-university"></i>Informática</ion-item>
    </ion-list>
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="4AO-list108">
      <ion-item class="item-divider" id="4AO-list-item-divider13"> 1° Cuatrimestre</ion-item>
      <ion-item class="item-icon-left dark" id="4AO-list-item203" ui-sref="trabajoSocialUNLaR.fundamentosEconMicosAplicados()">
        <i class="icon ion-university"></i>Fundamentos Económicos aplicados al Trabajo Social</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="4AO-list31">
      <ion-item class="item-divider" id="4AO-list-item-divider12"> 2° Cuatrimestre</ion-item>
    </ion-list>
    <ion-list id="4AO-list37">
      <ion-item class="item-icon-left dark" id="4AO-list-item204" ui-sref="trabajoSocialUNLaR.estadSticaYDemografA()">
        <i class="icon ion-university"></i>Estadística y Demografía</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
  </ion-content>
</ion-view>