<ion-view title="5° Año" id="page43" style="background-color:#0082D8;">
  <ion-content padding="true" style="background: url(img/Xy4LJLQOQXiDB942dVV6_Splash20App20.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="5AO-list45">
      <ion-item class="item-divider" id="5AO-list-item-divider14"> Anuales</ion-item>
      <ion-item class="item-icon-left dark" id="5AO-list-item215" ui-sref="trabajoSocialUNLaR.prCticaPreProfesionalIII()">
        <i class="icon ion-university"></i>Práctica Pre-Profesional III</ion-item>
    </ion-list>
    <ion-list id="5AO-list114">
      <ion-item class="item-icon-left dark" id="5AO-list-item216" ui-sref="trabajoSocialUNLaR.seminariosDeTrabajoFinal()">
        <i class="icon ion-university"></i>Seminarios de Trabajo Final</ion-item>
    </ion-list>
    <ion-list id="5AO-list115">
      <ion-item class="item-icon-left dark" id="5AO-list-item217" ui-sref="trabajoSocialUNLaR.idiomaInglS()">
        <i class="icon ion-university"></i>Idioma Inglés</ion-item>
    </ion-list>
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="5AO-list47">
      <ion-item class="item-divider" id="5AO-list-item-divider15"> </ion-item>
      <ion-item class="item-icon-left dark" id="5AO-list-item219" ui-sref="trabajoSocialUNLaR.operativaI()">
        <i class="icon ion-university"></i>Operativa I</ion-item>
      <ion-item class="item-icon-left dark" id="5AO-list-item220" ui-sref="trabajoSocialUNLaR.operativaII()">
        <i class="icon ion-university"></i>Operativa II</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
  </ion-content>
</ion-view>