<ion-view title="Acerca de la App" id="page5">
  <ion-content padding="true" style="background: url(img/5m8yFtsQ4qCiD0zIHUUF_FondoApp16a.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div>
      <img src="img/ulglVhgZRDCoXphY6mJW_LogoTrabajoSocial1.png" style="display: block; width: 80%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <h4 style="text-align: center;">
        <span style="color: #ffffff;">
          <strong>Versión 1.0</strong>
        </span>
      </h4>
      <h4 style="text-align: center;">
        <span style="color: #ffffff;">
          <strong>2019</strong>
        </span>
      </h4>
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <hr>
    <div>
      <h4 style="text-align: center;">
        <span style="color: #FFFFFF;">
          <strong>Gestión de Contenidos</strong>
        </span>
      </h4>
      <hr>
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <h4 style="text-align: center;">
        <span style="color: #ffffff;">
          <strong>Estudiantes en Movimiento</strong>
        </span>
      </h4>
      <h4 style="text-align: center;">
        <span style="color: #ffffff;">
          <strong> Trabajo Social</strong>
        </span>
      </h4>
    </div>
    <div>
      <img src="img/7Xtspb6T0CF6qlX1w06A_ESEM1.png" style="display: block; width: 28%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <hr>
    <div>
      <h4 style="text-align: center;">
        <span style="color: #ffffff;">
          <strong>Diseño y Desarrollo de la App</strong>
        </span>
      </h4>
      <hr>
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <h4 style="text-align: center;">
      <span style="color: #ffffff;">
        <strong>Marcos Nieto</strong>
      </span>
    </h4>
    <div class="spacer" style="height: 20px;"></div>
    <p style="text-align: center;">
      <span style="color: #ffffff;">
        <strong>¿Encontraste algún error o tenes una sugerencia para mejorar la App? Podés contactarme en mis redes sociales, toda idea suma !</strong>
      </span>
    </p>
    <div class="spacer" style="height: 30px;"></div>
    <ion-list id="acercaDeLaApp-list4">
      <ion-item class="item-divider" id="acercaDeLaApp-list-item-divider1"> Contacto</ion-item>
      <ion-item class="item-avatar dark" id="acercaDeLaApp-list-item13" href-inappbrowser="https://api.whatsapp.com/send?phone=543804529789">
        <img src="img/arRBvJIqTzK5E4DexPS8_WhatsAppLogo.png">
        <h2dark>Whatsapp
          <p>54-3804-529789</p>
        </h2dark>
      </ion-item>
      <ion-item class="item-avatar dark" id="acercaDeLaApp-list-item15" href-inappbrowser="https://www.facebook.com/marcos.nieto17">
        <img src="img/vtAoUwuoQMCsGo24ZcRC_X4tIMx7cRbqGGI7Jwu0B_Facebook.png">
        <h2dark>Facebook
          <p>@marcos.nieto17</p>
        </h2dark>
      </ion-item>
      <ion-item class="item-avatar dark" id="acercaDeLaApp-list-item14" href-inappbrowser="https://www.instagram.com/marcos.nieto17/">
        <img src="img/IRrijFu6TzwvmcDcnlwQ_v7X4g1clST6GomE7w2OT_Instagram.jpg">
        <h2dark>Instagram
          <p>@marcos.nieto17</p>
        </h2dark>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
  </ion-content>
</ion-view>