<ion-view title="Alcances del Título" id="page32">
  <ion-content padding="true" class="has-header">
    <div>
      <div>&nbsp;</div>
      <h4>
        <span style="color: #ff6600;">Alcances del Título</span>
      </h4>
      <div>El Licenciado en Trabajo Social es competente para:</div>
      <div>
        <p>
          <span style="color: #ff6600;">►</span> Aportar a la construcción de alternativas para la modificación, superación,&nbsp;y/o transformación de situaciones problemáticas (reales o potenciales de&nbsp;personas, familias y grupos en los niveles de prevención, asistencia y&nbsp;promoción
          valorando el sentido de la dignidad humana.</p>
        <p>
          <span style="color: #ff6600;">►</span> Generar, potenciar y/o fortalecer procesos organizativos comunitarios y/o&nbsp;Institucional construyendo espacios concretos y flexibles en la articulación&nbsp;entre las necesidades e intereses de los sectores que participan del mismo
          y&nbsp;los objetivos e intereses de la institución, tendiendo a la satisfacción y&nbsp;legitimación de los Derechos Sociales.</p>
        <p>
          <span style="color: #ff6600;">►</span> Planificar, Asesorar, Coordinar, Administrar, Evaluar y Gerenciar, en los&nbsp;diferentes niveles de complejidad: micro, medio y Macro, lo relacionado a&nbsp;la formulación e implementación de Planes, Programas y Proyectos en el&nbsp;marco
          de las Políticas Sociales Estatales y no Estatales, promoviendo la&nbsp;participación de los Grupos involucrados en la situación y/o campo&nbsp;problemático a abordar.</p>
        <p>
          <span style="color: #ff6600;">►</span> Planificar, orientar, asesorar, organizar, conducir, coordinar, administrar,&nbsp;evaluar acciones institucionales en diferentes niveles de funcionamiento y&nbsp;de decisión política.</p>
        <p>
          <span style="color: #ff6600;">►</span> Organizar, supervisar y capacitar Equipos de Trabajo.</p>
        <p>
          <span style="color: #ff6600;">►</span> Orientar, asesorar, coordinar, promover instancias de reflexión y&nbsp;capacitación en el trabajo comunitario en la búsqueda de resolución de&nbsp;necesidades y problemáticas sociales concretas, procurando la generación,&nbsp;conocimiento
          y mejor aprovechamiento de los recursos comunitarios e&nbsp;institucionales.</p>
        <p>
          <span style="color: #ff6600;">►</span> Realizar aportes desde la especificidad Profesional en el equipo&nbsp;interdisciplinario en relación a la lectura, análisis e identificación de la&nbsp;situación abordada, incorporando los aspectos socio-económicos-políticosculturales&nbsp;que
          la condicionan y la metodología de trabajo en sus dos&nbsp;dimensiones: al interior del equipo y en el abordaje de la situación&nbsp;concreta, así como en lo referente a la elaboración del informe social&nbsp;correspondiente.</p>
        <p>
          <span style="color: #ff6600;">►</span> Elaborar informe social, diagnóstico social, estrategias de intervención&nbsp;profesional, en diferentes instancias del campo social relacionas a&nbsp;situaciones problemáticas abordadas, requeridas por personas, instituciones&nbsp;Gubernamentales
          y no gubernamentales.</p>
        <p>
          <span style="color: #ff6600;">►</span> Realizar peritajes sobre diferentes situaciones sociales en el ámbito de la&nbsp;justicia, ya sea como perito de oficio, de parte, mandatario y/o consultores&nbsp;técnicos.</p>
        <p>
          <span style="color: #ff6600;">►</span> Intervenir desde la especificidad Profesional en instancias de Mediación&nbsp;Judiciales y No Judiciales.</p>
        <p>
          <span style="color: #ff6600;">►</span> Dirigir y desempeñar funciones de docencia, extensión e Investigación y&nbsp;otras tareas en áreas académicas en el ámbito de las unidades académicas&nbsp;de Formación profesional.</p>
        <p>
          <span style="color: #ff6600;">►</span> Desempeñar funciones de docencia e investigación en diferentes niveles&nbsp;del sistema educativo en áreas afines a las ciencias sociales.</p>
        <p>
          <span style="color: #ff6600;">►</span> Desarrollar líneas de Investigación que contribuyan a:</p>
      </div>
      <div>
        <span style="color: #000000;">
          <strong>a.</strong> La producción de conocimiento en Trabajo Social, la orientación del&nbsp;pensamiento y construcción de la disciplina, la discusión permanente y&nbsp;profundización sobre la especificidad profesional y la teoría social.</span>
      </div>
      <div>
        <span style="color: #000000;">&nbsp;</span>
      </div>
      <div>
        <span style="color: #000000;">
          <strong>b. </strong>La producción de conocimiento Teórico / metodológico para aportar a la&nbsp;intervención Profesional en los diferentes campos de acción.</span>
      </div>
      <div>
        <span style="color: #000000;">&nbsp;</span>
      </div>
      <div>
        <span style="color: #000000;">
          <strong>c.</strong> La producción de conocimiento que posibilite la identificación de&nbsp;factores que incide en la génesis y reproducción</span> de las problemáticas&nbsp;sociales y posibles alternativas de modificación, superación y/o&nbsp;transformación.&nbsp;</div>
    </div>
    <div class="spacer" style="height: 20px;"></div>
  </ion-content>
</ion-view>