<ion-view title="Biblioteca Digital" id="page4" style="background-color:#0082D8;">
  <ion-content padding="true" style="background: url(img/Xy4LJLQOQXiDB942dVV6_Splash20App20.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div>
      <img src="img/OyXOVFIwQEnxd8ShmHVw_biblioteca-virtual1.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="bibliotecaDigital-list6">
      <ion-item class="item-icon-left calm" id="bibliotecaDigital-list-item20" ui-sref="trabajoSocialUNLaR.1AO()">
        <i class="icon ion-university"></i>1° Año</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="bibliotecaDigital-list63">
      <ion-item class="item-icon-left calm" id="bibliotecaDigital-list-item21" ui-sref="trabajoSocialUNLaR.2AO()">
        <i class="icon ion-university"></i>2° Año</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="bibliotecaDigital-list62">
      <ion-item class="item-icon-left calm" id="bibliotecaDigital-list-item22" ui-sref="trabajoSocialUNLaR.3AO()">
        <i class="icon ion-university"></i>3° Año</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="bibliotecaDigital-list39">
      <ion-item class="item-icon-left calm" id="bibliotecaDigital-list-item131" ui-sref="trabajoSocialUNLaR.4AO()">
        <i class="icon ion-university"></i>4° Año</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="bibliotecaDigital-list53">
      <ion-item class="item-icon-left calm" id="bibliotecaDigital-list-item130" ui-sref="trabajoSocialUNLaR.5AO()">
        <i class="icon ion-university"></i>5° Año</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
  </ion-content>
</ion-view>