<ion-view title="Fundamentos Económicos aplicados" id="page41" style="background-color:#7067E2;">
  <ion-content padding="true" style="background: url(img/Xy4LJLQOQXiDB942dVV6_Splash20App20.jpg) no-repeat center;background-size:cover;" class="has-header">
    <ion-list id="fundamentosEconMicosAplicados-list57">
      <ion-item class="item-icon-right dark" id="fundamentosEconMicosAplicados-list-item135">Sin Contenidos
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>