<ion-view title="Fundamentos Sociológicos II" id="page25" style="background-color:#0082D8;">
  <ion-content padding="true" style="background: url(img/Xy4LJLQOQXiDB942dVV6_Splash20App20.jpg) no-repeat center;background-size:cover;" class="has-header">
    <ion-list id="fundamentosSociolGicosII-list36">
      <ion-item class="item-icon-right dark" id="fundamentosSociolGicosII-list-item152" href-inappbrowser="https://drive.google.com/file/d/1AcT2aPVSpMt9nvc_bMFfk-gGDj13P5Hr/view?usp=sharing">Sin contenidos
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>