<ion-view title="Fundamentos de la Salud Aplicados" id="page18" style="background-color:#0082D8;">
  <ion-content padding="true" style="background: url(img/Xy4LJLQOQXiDB942dVV6_Splash20App20.jpg) no-repeat center;background-size:cover;" class="has-header">
    <ion-list id="fundamentosDeLaSaludAplicados-list22">
      <ion-item class="item-icon-right dark" id="fundamentosDeLaSaludAplicados-list-item110">Sin contenidos
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
  </ion-content>
</ion-view>