<ion-view title="Fundamentos Psicológicos I" id="page17" style="background-color:#0082D8;">
  <ion-content padding="true" style="background: url(img/Xy4LJLQOQXiDB942dVV6_Splash20App20.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="fundamentosPsicolGicosI-list17">
      <ion-item class="item-icon-right dark" id="fundamentosPsicolGicosI-list-item117">Sin contenidos
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>