<ion-view title="Inicio" hide-nav-bar="true" id="page1" style="background-color:#FFFFFF;">
  <ion-content padding="true" style="background: url(img/Xy4LJLQOQXiDB942dVV6_Splash20App20.jpg) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
    <div id="inicio-button-bar1" class="button-bar"></div>
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <img src="img/ulglVhgZRDCoXphY6mJW_LogoTrabajoSocial1.png" style="display: block; width: 94%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 15px;"></div>
    <ion-list id="inicio-list3">
      <ion-item class="item-avatar dark" id="inicio-list-item9" ui-sref="trabajoSocialUNLaR.planDeEstudios()">
        <img src="img/waqqP8hTSmcvbME4JOT6_c006.png">
        <h2dark>Plan de Estudios</h2dark>
      </ion-item>
      <ion-item class="item-avatar dark" id="inicio-list-item10" ui-sref="trabajoSocialUNLaR.horarios()">
        <img src="img/kYa9k97MQPa8Km6D5ljb_c005.png">
        <h2dark>Horarios</h2dark>
      </ion-item>
      <ion-item class="item-avatar dark" id="inicio-list-item23" ui-sref="trabajoSocialUNLaR.programasDeCTedra()">
        <img src="img/B7pmCQdmReiKu1ldGfSH_c004.png">
        <h2dark>Programas de Cátedra</h2dark>
      </ion-item>
      <ion-item class="item-avatar dark" id="inicio-list-item11" ui-sref="trabajoSocialUNLaR.bibliotecaDigital()">
        <img src="img/FXW8VIvxQOuOcTJWoSHn_c003.png">
        <h2dark>Biblioteca Digital</h2dark>
      </ion-item>
      <ion-item class="item-avatar dark" id="inicio-list-item24" ui-sref="trabajoSocialUNLaR.calendarioAcadMico()">
        <img src="img/lIzupYdQFqydKhoMJ3ne_c002.png">
        <h2dark>Calendario Académico</h2dark>
      </ion-item>
      <ion-item class="item-avatar dark" id="inicio-list-item12" ui-sref="trabajoSocialUNLaR.acercaDeLaApp()">
        <img src="img/u3M66BZXQ9OE0PqAiCpJ_c001.png">
        <h2dark>Acerca de la App</h2dark>
      </ion-item>
    </ion-list>
    <a ui-sref="trabajoSocialUNLaR.gUAUNLaR()" id="inicio-button3" style="border-radius:10px 10px 10px 10px;" class="button button-energized button-block">GUÍA UNLaR</a>
    <div class="spacer" style="height: 10px;"></div>
  </ion-content>
</ion-view>