<ion-view title="Perfil del Graduado" id="page6">
  <ion-content padding="true" class="has-header">
    <div>
      <h4>
        <span style="color: #ff6600;">Perfil Profesional</span>
      </h4>
      <div>
        <p>El plan de estudios de las Carreras de Licenciatura en Trabajo Social&nbsp;se orienta hacia la formación de profesionales con las siguientes&nbsp;características:&nbsp;</p>
        <p>
          <span style="color: #ff6600;">►</span> Con capacidad para promover y fortalecer la participación y organización&nbsp;de los individuos, grupos y comunidades urbanas y rurales para su&nbsp;incorporación en el plano de las decisiones y acciones tendientes al&nbsp;desarrollo
          sostenible.</p>
        <p>
          <span style="color: #ff6600;">►</span> Con capacidad para liderar o participar en procesos de selección, de&nbsp;formación de supervisión y de evaluación de programas de desarrollo&nbsp;sostenible.</p>
        <p>
          <span style="color: #ff6600;">►</span> Con capacidad para intervenir en la formulación ejecución y evaluación&nbsp;de políticas estatales y/o privadas de desarrollo (urbano y rural).</p>
        <p>
          <span style="color: #ff6600;">►</span> Con habilidad para participar en procesos de administración del talento&nbsp;humano orientados al desarrollo del mismo.</p>
        <p>
          <span style="color: #ff6600;">►</span> Con iniciativa, capacidad de decisión y de gestión responsable (con&nbsp;habilidad para plantear, resolver problemas y crear soluciones alternativas).</p>
        <p>
          <span style="color: #ff6600;">►
            <span style="color: #000000;">Con idoneidad en la formulación, ejecución y evaluación de proyectos,&nbsp;que promuevan el desarrollo de individuos</span>
          </span>
          <span style="color: #000000;">,</span> familias, grupos, comunidades&nbsp;y organizaciones.</p>
        <p>
          <span style="color: #ff6600;">►</span> Con habilidad para el desarrollo de procesos de fortalecimiento&nbsp;institucional de la organizaciones públicas y privadas.</p>
        <p>
          <span style="color: #ff6600;">►</span> Con habilidad para la coordinación, la concertación y el trabajo en&nbsp;equipo.</p>
        <p>
          <span style="color: #ff6600;">►</span> Con capacidad para actuar interdisciplinariamente tanto a nivel de la&nbsp;producción de conocimientos como de la intervención de la realidad en la&nbsp;perspectiva del desarrollo sostenible.</p>
        <p>
          <span style="color: #ff6600;">►</span> Con habilidades para el liderazgo y para el trabajo con grupos.</p>
        <p>
          <span style="color: #ff6600;">►</span> Con alto nivel de desarrollo ético como ciudadano responsable y&nbsp;comprometido consigo mismo y con su medio.</p>
        <p>
          <span style="color: #ff6600;">►</span> Con capacidad para desempeñarse responsable y autónomamente en la&nbsp;comunidad y la sociedad.</p>
        <p>
          <span style="color: #ff6600;">►</span> Con alto sentido de compromiso y responsabilidad ética frente al&nbsp;desarrollo y, por tanto, con su praxis personal y profesional.</p>
        <p>
          <span style="color: #ff6600;">►</span> Con respeto por la diferencia y sólidos principios democráticos y de&nbsp;equidad.</p>
        <p>
          <span style="color: #ff6600;">►</span> Con comprensión y respeto de la heterogeneidad y la pluralidad social en&nbsp;sus múltiples dimensiones.</p>
        <p>
          <span style="color: #ff6600;">►</span> Con características personales y profesionales que le permitan interactuar&nbsp;democráticamente en los diferentes contextos, campos, áreas y niveles en&nbsp;los cuales tenga lugar su praxis.</p>
        <p>
          <span style="color: #ff6600;">►</span> Con habilidades comunicativas, tanto a nivel verbal como escrito.</p>
        <p>
          <span style="color: #ff6600;">►</span> Con manejo óptimo del idioma propio y con solvencia en el conocimiento&nbsp;de un idioma extranjero.</p>
        <p>
          <span style="color: #ff6600;">►</span> Con buena imagen de sí mismos y de la profesión la cual deben proyectar&nbsp;en su interacción profesional y social.</p>
        <p>
          <span style="color: #ff6600;">►</span> Con actitud de diálogo, de concertación y de negociación.</p>
        <p>
          <span style="color: #ff6600;">►</span> Con confianza en las potencialidades humanas como elementos de&nbsp;desarrollo y cambio.</p>
      </div>
    </div>
    <div class="spacer" style="height: 20px;"></div>
  </ion-content>
</ion-view>