<ion-view title="Práctica Pre-Profesional I" id="page28" style="background-color:#0082D8;">
  <ion-content padding="true" style="background: url(img/Xy4LJLQOQXiDB942dVV6_Splash20App20.jpg) no-repeat center;background-size:cover;" class="has-header">
    <ion-list id="prCticaPreProfesionalI-list42">
      <ion-item class="item-icon-right dark" id="prCticaPreProfesionalI-list-item170">Sin contenidos
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>