<ion-view title="Programas de Cátedra" id="page12" style="background-color:#0082D8;">
  <ion-content padding="true" style="background: url(img/Xy4LJLQOQXiDB942dVV6_Splash20App20.jpg) no-repeat center;background-size:cover;" class="has-header">
    <ion-list id="programasDeCTedra-list11">
      <ion-item class="item-icon-left calm" id="programasDeCTedra-list-item33">
        <i class="icon ion-ios-list-outline"></i>Introducción al Trabajo Social</ion-item>
      <ion-item class="item-icon-left calm" id="programasDeCTedra-list-item34">
        <i class="icon ion-ios-list-outline"></i>Metodología de la investigación Social I</ion-item>
      <ion-item class="item-icon-left calm" id="programasDeCTedra-list-item53">
        <i class="icon ion-ios-list-outline"></i>Fundamentos Sociológicos I</ion-item>
      <ion-item class="item-icon-left calm" id="programasDeCTedra-list-item54">
        <i class="icon ion-ios-list-outline"></i>Antropología Cultural y Social</ion-item>
      <ion-item class="item-icon-left calm" id="programasDeCTedra-list-item55">
        <i class="icon ion-ios-list-outline"></i>Fundamentos Psicológicos I</ion-item>
      <ion-item class="item-icon-left calm" id="programasDeCTedra-list-item56">
        <i class="icon ion-ios-list-outline"></i>Fundamentos de la Salud Aplicados al Trabajo Social</ion-item>
      <ion-item class="item-icon-left calm" id="programasDeCTedra-list-item57">
        <i class="icon ion-ios-list-outline"></i>Trabajo Social Personalizado y Familiar</ion-item>
      <ion-item class="item-icon-left calm" id="programasDeCTedra-list-item58">
        <i class="icon ion-ios-list-outline"></i>Metodología de la investigación Social II</ion-item>
      <ion-item class="item-icon-left calm" id="programasDeCTedra-list-item59">
        <i class="icon ion-ios-list-outline"></i>Expresión Escrita y Oral</ion-item>
      <ion-item class="item-icon-left calm" id="programasDeCTedra-list-item60">
        <i class="icon ion-ios-list-outline"></i>Campos Profesionales</ion-item>
      <ion-item class="item-icon-left calm" id="programasDeCTedra-list-item61">
        <i class="icon ion-ios-list-outline"></i>Fundamentos Socio-Jurídicos aplicados al Trabajo Social</ion-item>
      <ion-item class="item-icon-left calm" id="programasDeCTedra-list-item62">
        <i class="icon ion-ios-list-outline"></i>Supervisión en Trabajo Social</ion-item>
      <ion-item class="item-icon-left calm" id="programasDeCTedra-list-item63">
        <i class="icon ion-ios-list-outline"></i>Fundamentos Sociológicos II</ion-item>
      <ion-item class="item-icon-left calm" id="programasDeCTedra-list-item64">
        <i class="icon ion-ios-list-outline"></i>Trabajo Social de Grupo</ion-item>
      <ion-item class="item-icon-left calm" id="programasDeCTedra-list-item65">
        <i class="icon ion-ios-list-outline"></i>Trabajo Social Institucional</ion-item>
      <ion-item class="item-icon-left calm" id="programasDeCTedra-list-item66">
        <i class="icon ion-ios-list-outline"></i>Práctica Pre-Profesional I</ion-item>
      <ion-item class="item-icon-left calm" id="programasDeCTedra-list-item67">
        <i class="icon ion-ios-list-outline"></i>Fundamentos Psicológicos II</ion-item>
      <ion-item class="item-icon-left calm" id="programasDeCTedra-list-item68">
        <i class="icon ion-ios-list-outline"></i>Epistemología en Trabajo Social</ion-item>
      <ion-item class="item-icon-left calm" id="programasDeCTedra-list-item69">
        <i class="icon ion-ios-list-outline"></i>Historia Social Argentina</ion-item>
      <ion-item class="item-icon-left calm" id="programasDeCTedra-list-item70">
        <i class="icon ion-ios-list-outline"></i>Trabajo Social Comunitario y Desarrollo Local</ion-item>
      <ion-item class="item-icon-left calm" id="programasDeCTedra-list-item71">
        <i class="icon ion-ios-list-outline"></i>Práctica Pre-Profesional II</ion-item>
      <ion-item class="item-icon-left calm" id="programasDeCTedra-list-item72">
        <i class="icon ion-ios-list-outline"></i>Planificación, Políticas Sociales y Gestión Social</ion-item>
      <ion-item class="item-icon-left calm" id="programasDeCTedra-list-item73">
        <i class="icon ion-ios-list-outline"></i>Informática</ion-item>
      <ion-item class="item-icon-left calm" id="programasDeCTedra-list-item74">
        <i class="icon ion-ios-list-outline"></i>Fundamentos Económicos aplicados al Trabajo Social</ion-item>
      <ion-item class="item-icon-left calm" id="programasDeCTedra-list-item119">
        <i class="icon ion-ios-list-outline"></i>Estadística y Demografía</ion-item>
      <ion-item class="item-icon-left calm" id="programasDeCTedra-list-item120">
        <i class="icon ion-ios-list-outline"></i>Práctica Pre-Profesional III</ion-item>
      <ion-item class="item-icon-left calm" id="programasDeCTedra-list-item121">
        <i class="icon ion-ios-list-outline"></i>Seminarios de Trabajo Final</ion-item>
      <ion-item class="item-icon-left calm" id="programasDeCTedra-list-item129">
        <i class="icon ion-ios-list-outline"></i>Idioma Inglés</ion-item>
      <ion-item class="item-icon-left calm" id="programasDeCTedra-list-item155">
        <i class="icon ion-ios-list-outline"></i>Operativa I</ion-item>
      <ion-item class="item-icon-left calm" id="programasDeCTedra-list-item171">
        <i class="icon ion-ios-list-outline"></i>Operativa II</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
  </ion-content>
</ion-view>