<ion-view title="Seminarios de Trabajo Final" id="page47" style="background-color:#7067E2;">
  <ion-content padding="true" style="background: url(img/Xy4LJLQOQXiDB942dVV6_Splash20App20.jpg) no-repeat center;background-size:cover;" class="has-header">
    <ion-list id="seminariosDeTrabajoFinal-list68">
      <ion-item class="item-icon-right dark" id="seminariosDeTrabajoFinal-list-item138">Sin Contenidos
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>