<ion-view title="Trabajo Social de Grupo" id="page26" style="background-color:#0082D8;">
  <ion-content padding="true" style="background: url(img/Xy4LJLQOQXiDB942dVV6_Splash20App20.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="trabajoSocialDeGrupo-list23">
      <ion-item class="item-icon-right dark" id="trabajoSocialDeGrupo-list-item163">Sin contenidos
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>